---
import { Form } from "../components/form";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Astro Constructor">
  <main
    class="w-screen h-screen flex flex-col items-center justify-center gap-y-8"
  >
    <h1 class="text-white text-4xl font-bold">Form with astro</h1>
    <Form />
  </main>
</Layout>
